@font-face {
    font-family: 'Avenir Next Bold';
    src: url('../assets/fonts/Avenir-Next/AvenirNextLTPro-Bold.otf') format('truetype');
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../assets/fonts/Avenir-Next/AvenirNextLTPro-Regular.otf') format('truetype');
}
@font-face {
    font-family: 'Avenir Next Bold Demi';
    src: url('../assets/fonts/Avenir-Next/AvenirNextLTPro-Demi.otf') format('truetype');
}